<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>周报修改页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="css/dy.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <script type="text/javascript" src="../js/report.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .dy-textarea{
        height: 300px;
    }
</style>
<script>
    $(function () {
        report_show_byname(${param.classNum},${param.weekNum},'${param.stuName}',"#percon");
    })
</script>
<body>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <%--显示姓名--%>
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" disabled class="layui-input dy-input-wd250" value="${param.stuName}">
                </div>
            </div>
            <%--显示班级--%>
            <div class="layui-inline">
                <label class="layui-form-label">班级</label>
                <div class="layui-input-inline">
                    <input type="text" disabled class="layui-input dy-input-wd250" value="${param.classNum}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <%--显示分组--%>
            <div class="layui-inline">
                <label class="layui-form-label">分组</label>
                <div class="layui-input-inline">
                    <input type="text" disabled class="layui-input dy-input-wd250" value="${param.groupNum}">
                </div>
            </div>
            <%--显示当前周--%>
            <div class="layui-inline">
                <label class="layui-form-label">当前周</label>
                <div class="layui-input-inline">
                    <input type="text" disabled class="layui-input dy-input-wd250" value="${param.weekNum}">
                </div>
            </div>
        </div>
        <%--个人周报--%>
        <div id="perrep" class="layui-form-item layui-form-text">
            <label class="layui-form-label">周报内容</label>
            <div class="layui-input-block">
                <textarea id="percon" class="layui-textarea dy-textarea">
                    <%--占位--%>
                </textarea>
            </div>
        </div>
        <div id="perrep2" class="layui-form-item">
            <a id="perbtn" class="layui-btn">修改周报</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['layer'], function(){
        $ = layui.jquery;
        var layer = layui.layer;
        $("#perbtn").click(function () {
            var con = $("#percon").val();
            if (con != ""){
                report_edit(${param.classNum} ,'${param.stuName}', ${param.weekNum}, con);
            }else {
                layer.msg("没有填写是不能提交的哦！！！！！",{icon:5})
            }
        })

        // 修改周报，这个函数是管理员使用，通过给定的班级号，周次号，学生姓名，和周报内容
        function report_edit(CALSSNUM ,STUNAME, WEEKNUM, REPORTCONTEXT) {
            $.ajax({
                url:"../AdminBackStageServlet",
                type: "POST",
                data:{
                    operating:"editReport",
                    classNum:CALSSNUM,
                    stuName:STUNAME,
                    weekNum:WEEKNUM,
                    reportContext:REPORTCONTEXT
                },
                success: function (result) {
                    var dataObj2 = JSON.parse(result);
                    if (dataObj2.indexOf("成功") != -1) {
                        layer.msg(dataObj2,{icon:6});
                    }else{
                        layer.msg(dataObj2,{icon:5})
                    }
                },
                error: function (res) {
                    layer.msg("没有修改成功，请稍后再试",{icon:5})
                }
            })
        }
    });

</script>
</body>
</html>