<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>周报提交页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <link rel="stylesheet" href="/css/dy.css">

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="application/javascript" src="/js/weekstring.weekInfo.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .dy-textarea{
        height: 295px;
    }
    .dy-right-menu{
        height: 30px ;
        width: 100% ;
        background: #EFEEF0 ;
        writing-mode: vertical-lr;
        border-bottom: 1px solid #E5E5E5 ;
        padding: 5px 5px
    }

    .dy-right-menu div:hover{
         transition: 0.5s;
         background: #C4C2C2 ;
         cursor: pointer;
     }


    .dy-right-close{
        transition: 0.5s;
        margin:auto ;
        background: #D5D3D3 ;
        height: 30px ;
        width: 30px ;
        line-height: 30px ;
        text-align: center

    }


    .dy-right-close .iconfont{
        color: white;
    }

    .dy-right-main{
        padding: 50px 20px;
    }

    .dy-right-main ol li{
        margin-top: 20px;
    }
</style>
<body>
<div class="x-body" style="height: 100%">
    <div class="layui-col-md9">
        <form action="" method="post" class="layui-form layui-form-pane">
            <%--个人周报--%>
            <div id="perrep" class="layui-form-item layui-form-text">
                <label class="layui-form-label dy-timeShowContent">周报内容</label>
                <div class="layui-input-block">
                    <textarea id="reportContext" placeholder="请输入内容" class="layui-textarea dy-textarea"></textarea>
                </div>
            </div>
            <div id="reportButtonDiv" class="layui-form-item">
                <a id="reportButton" onclick="reportReport()" class="layui-btn">提交周报</a>
            </div>
            <%--组内周报--%>
            <div id="grorep" class="layui-form-item layui-form-text">
                <label class="layui-form-label">组内周报内容</label>
                <div class="layui-input-block">
                    <textarea id="groupContext" placeholder="请输入内容" class="layui-textarea dy-textarea"></textarea>
                </div>
            </div>
            <div id="grorep2" class="layui-form-item">
                <a id="grobtn" onclick="reportGroupReport()" class="layui-btn">提交组内周报</a>
            </div>
        </form>
    </div>
    <div class="layui-col-md2" style=" height: 100% ; float: left ; right: 0px ; top : 0px ; position: fixed ;">
        <div style=" height: 100% ; background: #EFEEF0 ; border-left: 1px solid #E5E5E5 ; overflow: hidden" class="dy-right-panel">
            <div class="dy-right-menu">
                <div class="dy-right-close">
                    <i class="iconfont">&#xe619;</i>
                </div>
            </div>
            <div class="dy-right-main">
                <ol>
                    <c:forEach items="${requestScope.info.timeLine}" var="item" varStatus="status">
                        <tr>
                            <li><a href="javascript:;" onclick="showTimeReport(${item.repId},${item.repWeek})">----->第${item.repWeek}周</a></li>
                        </tr>
                    </c:forEach>
                </ol>
            </div>
        </div>
    </div>
</div>
<script src="/js/xt-report.js" type="text/javascript"></script>
<script>
    var times = 0;
    $(".dy-right-close").click(function () {
        // alert(1234)
        times ++;
        if ((times % 2) == 0) {
            $(".dy-right-panel").animate(
                {
                    height:'100%'
                }, "slow");
            $(".dy-right-close i").html("&#xe619;")
        }else {
            $(".dy-right-panel").animate(
                {
                    left:'0px',
                    height:'41px'
                }, "slow");
            $(".dy-right-close i").html("&#xe61a;")
        }
    });
</script>
<script type="text/javascript">
    layui.use(['layer'], function(){
        $ = layui.jquery;
        var layer = layui.layer;

        setTimeout(function () {
            report_show(${requestScope.info.student.stuClass},${requestScope.info.student.stuSheet},"#reportContext");
            setTimeout(function () {
                report_show(${requestScope.info.student.stuClass},(${requestScope.info.student.stuSheet} - 1),"#groupContext");
            },1000);
        },1000);

    });

    // 时间轴
    function showTimeReport(REPID, REPWEEK) {
        $.ajax({
            url: "/student/showReportByREPID",
            type: "POST",
            data: {
                repId: REPID
            },
            success: function (result) {
                var data = JSON.parse(result);
                $("#reportContext").val(data);
                $("#reportButton").remove();
                $(".dy-timeShowContent").html("正在查看第" + REPWEEK + "周");
                $("#reportButton").remove();
                $("#reportButtonDiv").html("<a id='returnButton' onclick='returnToEdit()' class='layui-btn'>返回编辑周报</a>")
            },
            error: function () {
            }
        });
    };


    // 返回编辑周报
    function returnToEdit() {
        $(".dy-timeShowContent").html("正在编辑当前周");
        $("#reportContext").val("");
        report_show(${requestScope.info.student.stuClass}, ${requestScope.info.student.stuSheet}, "#reportContext");
        $("#returnButton").remove();
        $("#reportButtonDiv").html("<a id='reportButton' onclick='reportReport()' class='layui-btn'>提交周报</a>");
    }

    //提交个人周报
    function reportReport() {
        //提交个人周报
        var con = $("#reportContext").val();
        if (con != "") {
            //调用添加周报函数
            report_add(${requestScope.info.student.stuId}, ${requestScope.info.student.stuClass}, ${requestScope.info.student.stuSheet}, con);
            report_show(${requestScope.info.student.stuClass},${requestScope.info.student.stuSheet},"#reportContext");
        } else {
            layer.msg("没有填写是不能提交的哦！！！！！", {icon: 5})
        }
    }

    //提交个人周报
    function reportGroupReport() {
        //提交个人周报
        var con = $("#groupContext").val();
        if (con != "") {
            //调用添加周报函数
            report_add(${requestScope.info.student.stuId}, ${requestScope.info.student.stuClass}, (${requestScope.info.student.stuSheet} - 1), con);
            report_show(${requestScope.info.student.stuClass},(${requestScope.info.student.stuSheet} - 1),"#groupContext");
        } else {
            layer.msg("没有填写是不能提交的哦！！！！！", {icon: 5})
        }
    }

</script>
</body>
</html>
